<igx-card class="container">
  <form [formGroup]="newPasswordForm" class="" (ngSubmit)="onSubmit()">
    <igx-input-group>
      <input igxInput name="password" type="password" formControlName="password" required="required" />
      <label igxLabel for="password">Enter your password</label>
    </igx-input-group>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>

    <igx-input-group>
      <input igxInput name="confirm" type="password" formControlName="confirm" required="required" />
      <label igxLabel for="confirm">Confirm your password</label>
    </igx-input-group>
    <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
      <div *ngIf="f.confirm.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirm.errors.mustMatch">Passwords must match</div>
    </div>

    <button class="button_auth" style="float:right; margin: 10px 0">Подтвердить</button>
  </form>
</igx-card>
